<div class="game-container">
    <div class="story-container">
        <h1>Historique du scénario</h1>
        <mat-list *ngFor="let scenario of scenarioHistory">
            <mat-list-item>
                <p>
                    {{ scenario.Text }}
                </p>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>

    <div class="choices-container" *ngIf="getChoicesArray()[0]">
        <button *ngIf="getChoicesArray()[0].text" mat-raised-button color="primary"
            (click)="fetchScenario(getChoicesArray()[0].nextId)">{{ getChoicesArray()[0].text }}</button>
        <button *ngIf="getChoicesArray()[1].text" mat-raised-button color="primary"
            (click)="fetchScenario(getChoicesArray()[1].nextId)">{{ getChoicesArray()[1].text }}</button>
        <button *ngIf="getChoicesArray()[2].text" mat-raised-button color="primary"
            (click)="fetchScenario(getChoicesArray()[2].nextId)">{{ getChoicesArray()[2].text }}</button>
        <button *ngIf="getChoicesArray()[3].text" mat-raised-button color="primary"
            (click)="fetchScenario(getChoicesArray()[3].nextId)">{{ getChoicesArray()[3].text }}</button>
    </div>
</div>