<div class="game-container">
    <div class="story-container">
        <h1>Historique du scénario</h1>
        <mat-list *ngFor="let scenario of scenarioHistory">
            <mat-list-item>
                <p>
                    {{ scenario.Text }}
                </p>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </div>

    <div *ngIf="lastScenario" class="choices-container">
        <button *ngFor="let choice of lastScenario?.Choices" mat-raised-button color="primary"
            (click)="updateComponent(choice.NextScenarioId)">{{ choice.Text }}</button>
    </div>
</div>