:host {
  width: 100%;
}

.home-container {
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.example-card {
  max-width: 500px;
  margin-right: 40px;
}

.example-header-image {
  background-image: url("../../assets/pictures/hogwarts-houses.jpg");
  background-size: cover;
}
