<div class="home-container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Jouer</mat-card-title>
      <mat-card-subtitle>C'est ici que vous pouvez lancer une partie.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/pictures/harry-potter-and-the-deathly-hallows.jpg" alt="Card Picture">
    <mat-card-content>
      <p>
        Saurez-vous faire les bons choix dans cette aventure (presque épique) ? Usez de raison pour sauver Poudlard des
        forces du mal.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/game">Lancer la partie</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Administration</mat-card-title>
      <mat-card-subtitle>Avez-vous déjà rêvé d'avoir tous les pouvoirs ?</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/pictures/albus-dumbledore.jpg" alt="Card Picture">
    <mat-card-content>
      <p>
        C'est dans cette section que vous pourrez modifier les statistiques de votre personnage au sein du jeu.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/admin">Aller à l'interface d'administration</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Paramètres</mat-card-title>
      <mat-card-subtitle>Si l'application ne fonctionne pas...</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../assets/pictures/hogwarts-school.jpg" alt="Card Picture">
    <mat-card-content>
      <p>
        Ajustez les paramètres de l'application comme l'adresse IP et le port du serveur et vérifiez le bon
        fonctionnement du jeu.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/settings">Vérifier les paramètres</button>
    </mat-card-actions>
  </mat-card>
</div>