.tp-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 100px;
}

.form-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.form-field {
  width: 100%;
}

.tooltip {
  color: #767676;
}
