<h3>Réglages des paramètres de l'application</h3>

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

    <mat-form-field appearance="fill" class="form-field">
        <mat-label for="url">
            URL du serveur
        </mat-label>
        <input matInput id="url" type="text" formControlName="url">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label for="port">
            Port du serveur
        </mat-label>
        <input matInput id="port" type="text" formControlName="port">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label for="firstScenarioId">
            Identifiant du premier scenario
        </mat-label>
        <input matInput id="firstScenarioId" type="text" formControlName="firstScenarioId">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" class="button" type="submit">OK !</button>

</form>