<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Changer l'url Back</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form class="example-form">
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Url" [(ngModel)]="url" name="url" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Port" [(ngModel)]="port" type="port"
                                    name="port" required>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
        </mat-card-content>
        <mat-card-actions>
            <button class="submit-button" mat-raised-button (click)="changeBackUrl()" color="primary">Changer l'url</button>
        </mat-card-actions>
    </mat-card>
</div>