:host {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.container {
  margin: auto;
}

.example-card {
  min-width: 400px;
}

.submit-button {
  display: block;
  margin: auto !important;
}
